<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'header.html'%}
<a href="/">Home</a>
<div align="center">
    <h3>Recover Password</h3>
<form action="/forgot/" method="post" style="background:yellow;padding:10px;width:40%;margin-top:10px;border:2px solid;">
    {% csrf_token%}
    <table cellspacing="10">
        <tr>
            <td>
                Userid:
            </td>
            <td>
                <input type="text" name="user" required="required">
            </td>
        </tr>

        <tr>
            <td>
                Email:
            </td>
            <td>
                <input type="email" name="email" required="required">
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="submit">
            </td>
            <td>
                <input type="reset" value="reset">
            </td>
        </tr>

    </table>
</form>
    <br>
    {{msg}}
</div>
</body>
</html>