<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'header.html'%}
<div align="center">
    <label class="text text-danger">{{msg}}</label>
<form action="/auth/" method="post" style="background:yellow;padding:10px;width:40%;margin-top:10px;border:2px solid;">
   {% csrf_token%}
    <table cellspacing="10">
        <tr>
            <td>
                Userid:
            </td>
            <td>
                <input type="text" name="user" required="required">
            </td>
        </tr>

        <tr>
            <td>
                Password:
            </td>
            <td>
                <input type="password" name="pass" required="required">
            </td>
        </tr>

        <tr>
            <td>Select Type:</td>
            <td>
                <select name="type">
                    <option value="">----select---</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="submit" class="btn btn-primary">            </td>
            <td>
                <input type="reset" value="reset" class="btn btn-primary">
            </td>
        </tr>

<tr>
            <td>
                <a href="/newuser">New user</a>
            </td>
            <td>
                <a href="/forgot">Forgot password</a>
            </td>
        </tr>

    </table>
</form>
</div>
</body>
</html>