<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'header.html'%}
Welcome,{{request.session.user}}
<br>
<img src="{{request.session.image}}" width="100px" height="150px">

<a href="/auth">Back</a>
<div align="right">
    <a href="/logout">logout</a>
</div>
<div align="center">
    <form method="post" action="/updatepass/">
        {% csrf_token%}
<table cellspacing="20px">
   <tr>
       <td>New Password:</td>
       <td><input type="text" name="pass" required></td>
   </tr>

    <tr>
       <td><input type="submit" value="Update"></td>
       <td><input type="reset" value="Reset"></td>
   </tr>

</table>
    </form>
    {{msg}}
</div>

</body>
</html>